<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <nav class="top">
                <ul>
                    <li><a routerLink="/login">Log in</a></li>
                    <li><a routerLink="/signin">Sign in</a></li>
                    <li><a routerLink="/portfolio">My Portfolio</a></li>
                </ul>
            </nav>
</body>
</html>
