<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="topdiv">
          <h1 class="title">Portfolio</h1>
        </div>
        <div class="contentarea">
          <section class="social">
            <h3><p>My Name is Suraj Bhan!</p></h3>
            <div class="icons">
            <span><a href="https://github.com/surajbhan12/java-fsd.git" alt="github_logo"><img src="../assets/img_github.png"></a></span>
            <span><a href="https://www.twitch.tv/login" alt="twich_logo"><img src="../assets/img_twich.jpg"></a></span>
            <span><a href="https://www.facebook.com/" alt="facebook_logo"><img src="../assets/img_facebook.png"></a></span>
            <span><a href="https://www.linkedin.com/" alt="linkedin_logo"><img src="../assets/img_linkedin.png"></a></span>
            </div>
          </section>
          <section class="maincontent">
            <div class="summary">
              <div style="display: flex; flex-direction: row;">
                <hr><p style="font-size: large;">Summary</p><hr>
              </div>
              <div class="summarydiv">
                <h5>The purpose of my portfolio is to track my learning and development throughout Training Session. My portfolio is a collection and reflection of my experiences to get myself a clearer picture of my growth. </h5>
              </div>
            </div>
            <div class="summary">
              <div style="display: flex; flex-direction: row;">
                <hr><p style="font-size: large;">Skills</p><hr>
              </div>
              <div class="skill">
                <ul>
                  <li>C</li>
                  <li>JAVA</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JUNIT</li>
                  <li>SELENIUM</li>
                  <li>TestNG</li>
                  <li>Spring boot</li>
                  <li>TestNG</li>
                  <li>Angular</li>
                  <li>Sql</li>
                </ul>
              </div>
            </div>
            <div class="resume">
              <div style="display: flex; flex-direction: row;">
                <hr><p style="font-size: large;">Resume</p><hr>
              </div>
              <div class="resumediv">
                <ul><li><a href="https://github.com/surajbhan12/Resume.git">Link for Resume</a></li></ul>
              </div>
            </div>
            <div class="project">
              <div style="display: flex; flex-direction: row;">
                <hr><p style="font-size: large;">Projects</p><hr>
              </div>
              <div class="cardview">
              <div class="card">
                <span><a href="https://github.com/surajbhan12/java-fsd-assessment.git"><img src="../assets/img_movie.jfif" alt="Avatar" style="width:100%"></a></span>
                <div class="divproject">
                  <h4>Movie Ticket Booking<br></h4>
                </div>
              </div>
              <div class="card">
                <span><a href="https://github.com/surajbhan12/java-fsd-assessment.git"><img src="../assets/img_learner.png" alt="Avatar" style="width:100%"></a></span>
                <div class="divproject">
                  <h4>Learner’s Academy<br></h4>
                </div>
              </div>
              <div class="card">
                <span><a href="https://github.com/surajbhan12/java-fsd.git"><img src="../assets/img_quiz.jpg" alt="Avatar" style="width:100%"></a></span>
                <div class="divproject">
                  <h4>Online Quiz Portal<br></h4>
                </div>
              </div>
              <div class="card">
                <span><a href="https://github.com/surajbhan12/java-fsd-assessment.git"><img src="../assets/img_shoes.png" alt="Avatar" style="width:100%"></a></span>
                <div class="divproject">
                  <h4>Sporty Shoes<br></h4>
                </div>
              </div>
              </div>
            </div>
          </section>
        </div>
      </div>
</body>
</html>
